@media screen and (max-width: 768px) {
    /* product section */
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 425px) {
    .nav-container{
        flex-direction: column;
    }

    .nav-items-container{
        flex-direction: column;
        width: 100%;
    }

    .nav-items-container a{
        margin-top: 20px;
    }

    .nav-items-container .login-btn {
        width: 100%;
        margin-bottom: 10px;
    }

    /* banner section */
    .banner-container{
        flex-direction: column;
        margin: 10px auto 0;
    }
    .banner-text{
        width: 100%;
        margin-bottom: 20px;
    }

    .banner-img{
        width: 100%;
    }

    .banner-text h1{
        font-size: 30px;
    }
    
    .banner-text p{
        font-size: 25px;
    }

    .icons-container {
        margin: 10px auto;
    }

    .fa-brands {
        font-size: 25px;
    }

    /* product section */
    .products-container{
        grid-template-columns: 1fr;
    }

}