@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans Bengali', sans-serif;
}

header{
    background-color: #9376e0;
}

.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.logo-container{
    display: flex;
    align-items: center;
    width: 50%;
}

.logo-container img{
    width: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.logo-container p{
   font-size: 20px;
   color: #ffffff;
}

.logo-container .logo-color{
    color: #e893cf;
 }

.nav-items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items-container a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.nav-items-container .login-btn {
    background-color: #e893cf;
    color: black;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
}

/* Banner Section */
.banner-container{
    display: flex;
    margin: 50px auto 0;
    max-width: 1400px;
    min-height: 50px;
    text-align: center;
    background-color: #e6e9eb;
    padding: 10px;
    border-radius: 10px;
}

.banner-text{
    width: 50%;
}

.banner-img{
    width: 50%;
}

.banner-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.banner-text h1 {
    background-image: linear-gradient(to bottom, #9376e0, #e893cf);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
}

.banner-text p {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

.fa-brands{
    font-size: 40px;
}

.banner-btn{
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid #9376e0;
    border-radius: 5px;
    margin-right: 20px;
}

.icons-container{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin:  40px auto;
}

/* Products Section */
.products-container{
    display: grid;
    max-width: 1400px;
    margin: 50px auto 0;
    min-height: 400px;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.single-product{
    width: 100%;
    background-color: #e6e9eb;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 4px rgba(48, 48, 48, 0.555);
}

.single-product img{
    width: 70%;
    display: block;
    margin: 0 auto;
}

.product-icon-name-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.product-icon{
    font-size: 20px;
}

.product-icon span{
    padding: 10px;
    background-color: #9376e0;
    border-radius: 50%;
    margin-left: 5px;
    color: white;
}


/* Discount Section */
.discount-section{
    background-color: #9376e0;
    min-height: 500px;
    padding: 20px 0;
}

.discount-container{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    min-height: 200px;
    align-items: center;
}

.discount-img{
    width: 50%;
    position: relative;
}

.discount-img img{
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.discount-text{
    width: 50%;
}

.discount-number{
    position: absolute;
    top: 10%;
    left: 70%;
    width: 80px;
    height: 80px;
    font-size: 24px;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}